<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Mad Libs!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link href="./styles.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>Choose a Theme to create your Mad Lib!</h1>

  <a href="/xmas-form">Christmas</a>
  <a href="/gett-form">The Gettysburg Address</a>

</body>
</html>