<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Christmas Mad Lib!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
  <h1>Fill in the blanks with any words that you can possibly imagine!</h1>
  <form action="/xmas-final" method="post">
    <label for="animal">Any Animal</label>
    <input id="animal" name="animal" type="text">
    <label for="holiday">Any Holiday</label>
    <input id="holiday" name="holiday" type="text">
    <label for="name">A Name</label>
    <input id="name" name="name" type="text">
    <label for="verb">Past Tense Verb</label>
    <input id="verb" name="verb" type="text">
    <label for="clothing">Article of Clothing</label>
    <input id="clothing" name="clothing" type="text">
    <label for="season">Any Season</label>
    <input id="season" name="season" type="text">
    <label for="noise">A Noise</label>
    <input id="noise" name="noise" type="text">
    <label for="objects">Plural of an object</label>
    <input id="objects" name="objects" type="text">
    <label for="number">Any Number</label>
    <input id="number" name="number" type="text">
    <label for="noun">Any Noun</label>
    <input id="noun" name="noun" type="text">
    <label for="fast">Simile of something fast</label>
    <input id="fast" name="fast" type="text">

    <button type="submit">Go!</button>
  </form>
</body>
</html>